extends ../layout
block vars
	- var pagename = "home";
	- var pagetitle = "Главная";
block header
	header
block content
	div.home-bg
		img.home-bg__img(src="img/draw.png")
	div.wrapper
		aside.home-aside
			.home-aside__img
				img(src="img/photo.jpg")
			.home-aside__contacts
				div Контакты
				a(href="mailto:faina_barto@mail.ru") faina_bart@mail.ru
				a(href="skype:fainabarto") fainabarto (skype)
		section.home-content
			h1.home-content__header Ирина Чемышева
			div.home-nav
				a.home-nav__item(href="drawing.html")
					img.home-nav__image(src="img/drawing.jpg")
					span.home-nav__text графика
				a.home-nav__item(href="painting.html")
					img.home-nav__image(src="img/painting.jpg")
					span.home-nav__text живопись
				a.home-nav__item(href="illustration.html")
					img.home-nav__image(src="img/illustration.jpg")
					span.home-nav__text иллюстрация